/* Variant: colored/no variant */
.spx[spx-variant='colored'].spx[spx-color='background'] {
  color: var(--spx-color-background);
}

.spx[spx-variant='colored'].spx[spx-color='surface'] {
  color: var(--spx-color-surface);
}

.spx[spx-variant='colored'].spx[spx-color='accent'] {
  color: var(--spx-color-accent);
}

.spx[spx-variant='colored'].spx[spx-color='primary'] {
  color: var(--spx-color-primary);
}

.spx[spx-variant='colored'].spx[spx-color='secondary'] {
  color: var(--spx-color-secondary);
}

.spx[spx-variant='colored'].spx[spx-color='info'] {
  color: var(--spx-color-info);
}

.spx[spx-variant='colored'].spx[spx-color='success'] {
  color: var(--spx-color-success);
}

.spx[spx-variant='colored'].spx[spx-color='warning'] {
  color: var(--spx-color-warning);
}

.spx[spx-variant='colored'].spx[spx-color='error'] {
  color: var(--spx-color-error);
}

.spx[spx-variant='colored'].spx[spx-color='gradient'] {
  background: var(--spx-color-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Variant: contained */
.spx[spx-variant='contained'].spx[spx-color='background'] {
  background: var(--spx-color-background);
  color: var(--spx-color-on-background);
}

.spx[spx-variant='contained'].spx[spx-color='surface'] {
  background: var(--spx-color-surface);
  color: var(--spx-color-on-surface);
}

.spx[spx-variant='contained'].spx[spx-color='accent'] {
  background: var(--spx-color-accent);
  color: var(--spx-color-on-accent);
}

.spx[spx-variant='contained'].spx[spx-color='primary'] {
  background: var(--spx-color-primary);
  color: var(--spx-color-on-primary);
}

.spx[spx-variant='contained'].spx[spx-color='secondary'] {
  background: var(--spx-color-secondary);
  color: var(--spx-color-on-secondary);
}

.spx[spx-variant='contained'].spx[spx-color='info'] {
  background: var(--spx-color-info);
  color: var(--spx-color-on-info);
}

.spx[spx-variant='contained'].spx[spx-color='success'] {
  background: var(--spx-color-success);
  color: var(--spx-color-on-success);
}

.spx[spx-variant='contained'].spx[spx-color='warning'] {
  background: var(--spx-color-warning);
  color: var(--spx-color-on-warning);
}

.spx[spx-variant='contained'].spx[spx-color='error'] {
  background: var(--spx-color-error);
  color: var(--spx-color-on-error);
}

.spx[spx-variant='contained'].spx[spx-color='gradient'] {
  background: var(--spx-color-gradient);
  color: var(--spx-color-on-gradient);
}

/* Variant: outlined */
.spx[spx-variant='outlined'].spx[spx-color='background'] {
  border-color: var(--spx-color-background);
  color: var(--spx-color-background);
}

.spx[spx-variant='outlined'].spx[spx-color='surface'] {
  border-color: var(--spx-color-surface);
  color: var(--spx-color-surface);
}

.spx[spx-variant='outlined'].spx[spx-color='accent'] {
  border-color: var(--spx-color-accent);
  color: var(--spx-color-accent);
}

.spx[spx-variant='outlined'].spx[spx-color='primary'] {
  border-color: var(--spx-color-primary);
  color: var(--spx-color-primary);
}

.spx[spx-variant='outlined'].spx[spx-color='info'] {
  border-color: var(--spx-color-info);
  color: var(--spx-color-info);
}

.spx[spx-variant='outlined'].spx[spx-color='success'] {
  border-color: var(--spx-color-success);
  color: var(--spx-color-success);
}

.spx[spx-variant='outlined'].spx[spx-color='warning'] {
  border-color: var(--spx-color-warning);
  color: var(--spx-color-warning);
}

.spx[spx-variant='outlined'].spx[spx-color='error'] {
  border-color: var(--spx-color-error);
  color: var(--spx-color-error);
}

.spx[spx-variant='outlined'].spx[spx-color='secondary'] {
  border-color: var(--spx-color-secondary);
  color: var(--spx-color-secondary);
}

.spx[spx-variant='outlined'].spx[spx-color='gradient'] {
  background: var(--spx-color-gradient);
  border-color: var(--spx-color-gradient);
  border-image: var(--spx-color-gradient) 1;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Opacity variables */
:root {
  --spx-color-surface-90: color-mix(var(--spx-color-surface), transparent 10%);
  --spx-color-surface-80: color-mix(var(--spx-color-surface), transparent 20%);
  --spx-color-surface-70: color-mix(var(--spx-color-surface), transparent 30%);
  --spx-color-surface-60: color-mix(var(--spx-color-surface), transparent 40%);
  --spx-color-surface-50: color-mix(var(--spx-color-surface), transparent 50%);
  --spx-color-surface-40: color-mix(var(--spx-color-surface), transparent 60%);
  --spx-color-surface-30: color-mix(var(--spx-color-surface), transparent 70%);
  --spx-color-surface-20: color-mix(var(--spx-color-surface), transparent 80%);
  --spx-color-surface-10: color-mix(var(--spx-color-surface), transparent 90%);

  --spx-color-accent-90: color-mix(var(--spx-color-accent), transparent 10%);
  --spx-color-accent-80: color-mix(var(--spx-color-accent), transparent 20%);
  --spx-color-accent-70: color-mix(var(--spx-color-accent), transparent 30%);
  --spx-color-accent-60: color-mix(var(--spx-color-accent), transparent 40%);
  --spx-color-accent-50: color-mix(var(--spx-color-accent), transparent 50%);
  --spx-color-accent-40: color-mix(var(--spx-color-accent), transparent 60%);
  --spx-color-accent-30: color-mix(var(--spx-color-accent), transparent 70%);
  --spx-color-accent-20: color-mix(var(--spx-color-accent), transparent 80%);
  --spx-color-accent-10: color-mix(var(--spx-color-accent), transparent 90%);

  --spx-color-primary-90: color-mix(var(--spx-color-primary), transparent 10%);
  --spx-color-primary-80: color-mix(var(--spx-color-primary), transparent 20%);
  --spx-color-primary-70: color-mix(var(--spx-color-primary), transparent 30%);
  --spx-color-primary-60: color-mix(var(--spx-color-primary), transparent 40%);
  --spx-color-primary-50: color-mix(var(--spx-color-primary), transparent 50%);
  --spx-color-primary-40: color-mix(var(--spx-color-primary), transparent 60%);
  --spx-color-primary-30: color-mix(var(--spx-color-primary), transparent 70%);
  --spx-color-primary-20: color-mix(var(--spx-color-primary), transparent 80%);
  --spx-color-primary-10: color-mix(var(--spx-color-primary), transparent 90%);

  --spx-color-secondary-90: color-mix(var(--spx-color-secondary), transparent 10%);
  --spx-color-secondary-80: color-mix(var(--spx-color-secondary), transparent 20%);
  --spx-color-secondary-70: color-mix(var(--spx-color-secondary), transparent 30%);
  --spx-color-secondary-60: color-mix(var(--spx-color-secondary), transparent 40%);
  --spx-color-secondary-50: color-mix(var(--spx-color-secondary), transparent 50%);
  --spx-color-secondary-40: color-mix(var(--spx-color-secondary), transparent 60%);
  --spx-color-secondary-30: color-mix(var(--spx-color-secondary), transparent 70%);
  --spx-color-secondary-20: color-mix(var(--spx-color-secondary), transparent 80%);
  --spx-color-secondary-10: color-mix(var(--spx-color-secondary), transparent 90%);
}
