:root {
  --spx-z-modal: 85;
  --spx-z-modal-overlay: 81;
  --spx-z-app-bar: 51;
}

.spx[spx-size='auto'] {
  min-width: auto;
  max-width: 100%;
}

.spx[spx-size='full'] {
  min-width: 100%;
  max-width: 100%;
}
