html.spx-app {
  a:not(:has(.spx-button, .spx-card)):not(.spx-button, .spx-card) {
    text-decoration: none;
    color: var(--spx-color-text-link);

    &:visited {
      color: var(--spx-color-text-link);
    }

    &:hover {
      filter: var(--spx-filter-control-hover);
    }
  }

  pre.astro-code {
    padding: 0.5rem;
    border-radius: var(--spx-border-radius);
  }

  pre.astro-code,
  code {
    background: var(--spx-color-surface);
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 1.5rem;
    background: var(--spx-color-surface);
    border-radius: var(--spx-border-radius);
    border: var(--spx-color-primary);
  }
}
