.spx[spx-variant='contained'] {
  border: none;
  border-radius: var(--spx-border-radius);
}

.spx[spx-variant='outlined'] {
  background: none;
  border-width: var(--spx-border-width);
  border-style: solid;
  border-radius: var(--spx-border-radius);
}

.spx[spx-variant='colored'] {
  background: none;
  border: none;
}

.spx[spx-variant='underlined'] {
  border-width: 0px 0px var(--spx-border-width) 0px;
  border-style: none none solid none;
  border-top-left-radius: var(--spx-border-radius);
  border-top-right-radius: var(--spx-border-radius);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
