:root {
  --spx-main-content-width: 1440px;

  --spx-app-bar-height: 48px;
  --spx-control-height-default: 40px;
  --spx-input-height-default: 48px;

  --spx-control-width-small: 8rem;
  --spx-control-width-medium: 16rem;
  --spx-control-width-large: 24rem;

  --spx-border-width: 1px;
}
