.spx-sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--spx-z-sidebar-overlay);
  width: 100svw;
  height: 100svh;
  background-color: transparent;

  &[data-transitioning] {
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
    transition-duration: 500ms;
  }

  &[data-open] {
    background-color: var(--spx-color-modal-overlay);
  }
}

.spx-sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 90svw;
  z-index: var(--spx-z-sidebar);
  transform: translate(-50%, -50%);
  background-color: var(--spx-color-sidebar);
  box-shadow: var(--spx-shadow-medium);

  &[data-side='left'] {
    left: 0;
  }

  &[data-side='right'] {
    right: 0;
  }

  &[data-transitioning] {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
    transition-duration: 500ms;
  }

  &[data-open] {
    width: var(--spx-sidebar-width-full);
  }
}
