.spx-sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--spx-z-sidebar-overlay);
  width: 100svw;
  height: 100svh;
  background-color: transparent;

  &[data-transitioning] {
    transition-property: background-color;
    transition-timing-function: var(--spx-sidebar-transition-timing-function);
    transition-duration: var(--spx-sidebar-transition-duration);
  }

  &[data-open]:not([data-closing]) {
    background-color: var(--spx-color-modal-overlay);
  }
}

.spx-sidebar {
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 90svw;
  z-index: var(--spx-z-sidebar);
  width: var(--spx-sidebar-width-full);
  background-color: var(--spx-color-sidebar);
  box-shadow: var(--spx-shadow-medium);
  display: flex;
  flex-direction: column;

  &[data-side='left'] {
    left: 0;
  }

  &[data-side='right'] {
    right: 0;
  }

  &[data-transitioning] {
    transition-property: transform;
    transition-timing-function: var(--spx-sidebar-transition-timing-function);
    transition-duration: var(--spx-sidebar-transition-duration);
  }
}

.spx-sidebar-toolbar {
  display: flex;
  flex-direction: row;
  height: var(--spx-app-bar-height);
  padding: 4px;
  gap: 4px;

  > * {
    flex-grow: 1;
  }
}

.spx-sidebar-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4px;
  gap: 4px;

  a.spx-button {
    &[aria-current='page'] {
      &[spx-variant='outlined'],
      &[spx-variant='colored'] {
        &::before {
          background: color-mix(in hsl, var(--spx-color-text-link), transparent 80%);
        }
      }
    }
  }
}

.spx-sidebar-group {
  border-radius: var(--spx-border-radius);

  &:has(.spx-sidebar-group-content[data-expanded]) {
    .spx-sidebar-group-trigger {
      color: var(--spx-color-sidebar-item-active);
    }

    .spx-sidebar-group-chevron {
      rotate: 180deg;
    }
  }
}

.spx-sidebar-group-trigger {
  width: 100%;

  .spx-sidebar-group-title {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 0.25rem;

    iconify-icon {
      width: 20px;
    }
  }
}

.spx-sidebar-group-chevron {
  rotate: 0deg;
  transition: rotate 200ms ease;
  font-size: x-large !important;
}

.spx-sidebar-group-content {
  display: flex;
  flex-direction: column;
  gap: var(--spx-spacing-xs);
  overflow: hidden;
  padding: var(--spx-spacing-xs);
  padding-left: var(--spx-spacing-md);

  .spx-button,
  .spx-button-link {
    justify-content: start;
    min-height: fit-content;
  }
}

.spx-sidebar-group-content[data-collapsed] {
  animation: sidebar-group-content-collapse 200ms ease-in-out;
}

.spx-sidebar-group-content[data-expanded] {
  animation: sidebar-group-content-expand 200ms ease-in-out;
}

@keyframes sidebar-group-content-collapse {
  0% {
    height: var(--corvu-disclosure-content-height);
  }
  100% {
    height: 0px;
  }
}

@keyframes sidebar-group-content-expand {
  0% {
    height: 0px;
  }
  100% {
    height: var(--corvu-disclosure-content-height);
  }
}
