.spx-accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.spx-accordion-item-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: var(--spx-border-radius);
  overflow: hidden;

  &:first-of-type:not(:only-of-type),
  &:last-of-type:not(:last-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &:not(:first-of-type) {
    margin-top: 2px;
  }

  &:not(:first-of-type):not(:last-of-type) {
    border-radius: 0px;
    margin-top: 2px;
  }

  &:last-of-type:not(:only-of-type) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  &[spx-variant='outlined'] {
    margin-top: 0px !important;
    margin-bottom: 0px !important;

    &:not(:first-child) {
      border-top-color: transparent;
      border-top-width: 0px;
    }

    .spx-accordion-item-actions {
      > *[spx-variant='outlined'] {
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-right-width: 0px;
      }
    }
  }

  &:has(.spx-accordion-item-trigger[data-expanded]) {
    &[spx-variant='outlined'] {
      border-bottom-color: transparent;
      border-bottom-width: 0px;

      .spx-accordion-item-actions {
        border-bottom-right-radius: 0px;

        > *[spx-variant='outlined'] {
          border-bottom-width: var(--spx-border-width);
        }
      }
    }
  }
}

.spx-accordion-item-trigger {
  &.spx-button {
    justify-content: start;
    flex-grow: 1;
    border: none;
    border-radius: 0px;
    height: fit-content;
  }

  &[data-expanded] {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    .spx-accordion-item-chevron {
      rotate: 90deg;
    }
  }

  .spx-accordion-item-chevron {
    rotate: 0deg;
    transition: rotate var(--spx-animation-duration-default) ease;
  }
}

.spx-accordion-item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spx-spacing-xs);
  flex-grow: 1;
}

.spx-accordion-item-actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

    &:not(:last-child) {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }
}

.spx-accordion-item-content {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  overflow: hidden;

  &[data-collapsed] {
    animation: accordion-item-content-collapse var(--spx-animation-duration-default)
      cubic-bezier(0.32, 0.72, 0, 0.75);
  }

  &[data-expanded] {
    animation: accordion-item-content-expand var(--spx-animation-duration-default)
      cubic-bezier(0.32, 0.72, 0, 0.75);
  }

  &:not(:last-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &[spx-variant='outlined'] {
    border-top-color: transparent;
    border-top-width: 0px;
  }

  .spx-accordion-item-content-inner {
    padding-block: var(--spx-spacing-md);
    padding-inline: var(--spx-spacing-md);
  }
}

@keyframes accordion-item-content-collapse {
  0% {
    height: var(--corvu-disclosure-content-height);
  }
  100% {
    height: 0px;
  }
}

@keyframes accordion-item-content-expand {
  0% {
    height: 0px;
  }
  100% {
    height: var(--corvu-disclosure-content-height);
  }
}
