.spx-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.25rem 0.75rem;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: var(--spx-border-radius);
  background: var(--spx-color-secondary);
  color: var(--spx-color-on-secondary);
  height: var(--spx-control-height-default);
  font-size: medium;

  > * {
    position: relative;
    vertical-align: text-top;
  }

  iconify-icon {
    font-size: larger;
  }
}

.spx-button:not(:disabled) {
  cursor: pointer;
}

.spx-button:not(:disabled):hover {
  filter: var(--spx-filter-control-hover);
  backdrop-filter: var(--spx-filter-control-hover);
}

.spx-button[spx-variant='contained']:not(:disabled):hover {
  filter: var(--spx-filter-control-hover-contained);
}

.spx-button:disabled {
  filter: var(--spx-filter-control-disabled);
}

.spx-button:not(:has(.spx-button-content)) {
  padding: 0px;
  aspect-ratio: 1/1;
  font-size: larger;
}

.spx-button[spx-rounded] {
  border-radius: calc(var(--spx-control-height-default) / 2) !important;
}

.spx-button[spx-size='small'] {
  min-width: var(--spx-control-width-small);
  max-width: min(var(--spx-control-width-small), 100%);
}

.spx-button[spx-size='medium'] {
  min-width: var(--spx-control-width-medium);
  max-width: min(var(--spx-control-width-medium), 100%);
}

.spx-button[spx-size='large'] {
  min-width: var(--spx-control-width-large);
  max-width: min(var(--spx-control-width-large), 100%);
}

a.spx-button {
  text-decoration: none;

  &[aria-current='page'] {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-radius: inherit;
    }

    &[spx-variant='contained'] {
      &::before {
        background: color-mix(in hsl, var(--spx-color-text-link), transparent 50%);
      }
    }

    &[spx-variant='outlined'],
    &[spx-variant='colored'] {
      color: var(--spx-color-text-link) !important;
      &::before {
        background: color-mix(in hsl, var(--spx-color-text-link), transparent 80%);
      }
    }
  }
}
